<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
<style>
    body{
        background-color: rgb(223, 114, 114);
    }
</style>
</head>
<body>
    <form method="POST" action="/delete_student/{{ students.id }}">
        {% csrf_token %}

        <p>Are you sure you want to delete 
            <strong>
                '{{ students.student_name }}'
            </strong>
        </p>
        <a href="javascript:history.go(-1);">
            Go Back
        </a>
        <input type="submit" value="Confirm"/>
    </form>
</body>
</html>