<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show</title>

 <link rel="stylesheet" href="https://use.fontawesome.com/releases/vs.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<style>
    body{
        background-color:burlywood ;
    }
    
</style>
<body>
    <center>
    <div class="card" style="width:18rem">  
    <h5 class="card-header text-info">
        STUDENT DETAILS
    </h5>

    <form method="post" action="{% url 'add_student_details' %}">
       
        {% csrf_token %}

    <div class="card-body">
        <p class="card-title"><span class="text-success h6">Name:</span>{{ students.student_name }}</p>
        <p class="card-title"><span class="text-success h6">Address:</span>{{ students.address}}</p>
        <p class="card-title"><span class="text-success h6">Age:</span>{{ students.age }}</p>
        <p class="card-title"><span class="text-success h6">Joining_date:</span>{{ students.joining_date }}</p>
        <p class="card-title"><span class="text-success h6">Email:</span>{{ students.email }}</p>
        <p class="card-title"><span class="text-success h6">Gender:</span>{{ students.gender }}</p>
    </div>
    </form>
    </div>
</center>
        

</body>
</html> 